header {
    width: 100%;
    height: 40px;
    background-color: black;
    padding: 5px 0px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
    color: #00bcd4;
}

a:hover::after {
    width: 100%;
}

section {
    width: 100%;
    height: 300px;
}

section:nth-child(2) {
    background-color: rgb(243, 243, 243);
    height: 500px;
}

section:nth-child(1) {
    display: flex;
    justify-content: center;
}

.container {
    width: fit-content;
    text-align: center;
}

.container:nth-child(1) {
    margin-top: 50px;
}

.zamovyty {
    width: 180px;
    background-color: #00bcd4;
    border: 0;
    padding: 5px;
    color: white;
    transition: background-color 0.4s;
    transition: padding 0.4s;
}

.zamovyty:hover {
    background-color: #7ecab1;
    padding: 10px;
}

.box-holder {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: rgb(206, 206, 206);
    overflow: hidden;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    transform: translateY(100%);
    transition: transform 250ms ease;
}

.box:hover .overlay {
    transform: translateX(0);
}

.categoties {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categories-item {
    padding: 10px 50px;
    border: 0;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
}

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    padding: 20px 0px;
}

.icon:hover {
    transform: rotate(20deg);
}